@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    margin-bottom: 0;
    padding: 2.5rem;
    background-color: v.$grisOscuro;
    .contenido-footer {
        padding-top: 2.5rem;
    }

    .copyright {
        color: v.$blanco;
        text-align: center;
    }
}